<div>
    <div class="header">
        <img ngClass="upslogo" src="https://upsprod.service-now.com/c8ed7bd71b4f338080098489cc4bcbfa.iix" alt="UPS logo">
        <h1>GTSG Important links: Basic Information</h1>
    </div>

    <!-- <div class="clearfix"></div> -->

    <nav>
        <ul class="ulist">
            
            <li>
                <a routerLink="/" routerLinkActive="isactive" [routerLinkActiveOptions]={exact:true}>Home</a>
            </li>
            <li>
                <a routerLink="/smc" routerLinkActive="isactive">SMC</a>
            </li>
            <li>
                <a routerLink="/building" routerLinkActive="isactive">Buildings</a>
            </li>
            <li>
                <a routerLink="/link" routerLinkActive="isactive">Links</a>
            </li>
            <li>
                <a href="#">Menu 5</a>
            </li>
        </ul>
    </nav>
</div>
