<div class="content">
    <section>
        <article>
            <h1>Section 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quas corrupti culpa ab nam
                nesciunt architecto ratione. Ullam laudantium minima soluta modi alias nesciunt impedit aliquid
                magnam vitae illo ratione architecto sapiente officiis, reprehenderit excepturi? Et, nobis,
                voluptates error id sit fugit autem dolorem laudantium aperiam recusandae officia blanditiis
                obcaecati!
            </p>
        </article>
        <article>
            <h1>Section 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quas corrupti culpa ab nam
                nesciunt architecto ratione. Ullam laudantium minima soluta modi alias nesciunt impedit aliquid
                magnam vitae illo ratione architecto sapiente officiis, reprehenderit excepturi? Et, nobis,
                voluptates error id sit fugit autem dolorem laudantium aperiam recusandae officia blanditiis
                obcaecati!
            </p>
        </article>
        <article>
            <h1>Section 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quas corrupti culpa ab nam
                nesciunt architecto ratione. Ullam laudantium minima soluta modi alias nesciunt impedit aliquid
                magnam vitae illo ratione architecto sapiente officiis, reprehenderit excepturi? Et, nobis,
                voluptates error id sit fugit autem dolorem laudantium aperiam recusandae officia blanditiis
                obcaecati!
            </p>
        </article>
    </section>

    <aside>
        <h2>Important links</h2>
        <form>
            <label class="search" for="search">Search:</label>
            <input type="text" name="search">
        </form>

        <img class="image-right" src="https://upsprod.service-now.com/74e982241b6355d48bb5542f0a4bcbd7.iix" alt="">
    </aside>
</div>
