/* CONTENT */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 100%;
    height: 422px;
    background-color: #F3E8D4;
    /* background-color:#FFC700; */
    /* overflow: scroll; */
}

section{
    width: 98%;
    float: left;
    margin-left: 10px;
}

article{
    margin-top: 20px;
}

h1{
    padding: 10px;
    color: #efd39b;
}
/* table */
table {
    width: 100%;
    border-collapse:collapse;
  }

  th {
    height: 45px;
    text-align: left;
    background-color: #b78c01;
    color: white;
  }

  th, td {
    /* border-bottom: 1px solid #f4d872; */
    border-bottom: 1px solid #F3E8D4;
    padding: 5px;
  }

  td{
    font-size: 15px;
  }

  tr:nth-child(even) {
    /* background-color: #F3E4C6; */
    background-color: #F3E8D4;
}