<div class="content">
    <section>
        <h1>Important Links</h1>
        <table>
            <tr>
                <td><a href="https://upsinc.sharepoint.com/sites/GTSG/SitePages/Standard-Operating-Procedures.aspx" target="_blank">TSG SOP’s</a> </td>
                <td><a href="http://adadmin-mah.ups.com/adutilities/" target="_blank">Active Directory </a> </td>
                <td><a href="https://desktop.inside.ups.com/" target="_blank">Desktop Productivity site </a> </td>
                <td><a href="https://dcc.ext.hp.com/#/" target="_blank">Device Control Center (DCC) </a></td>
            </tr>
            <tr>
                <td><a href="https://fha.inside.ups.com/" target="_blank">Facility Health Assessment (FHA) </a> </td>
                <td><a href="https://cosmic.inside.ups.com/" target="_blank">Cosmic </a> </td>
                <td><a href="https://edsportal.inside.ups.com/irm/" target="_blank">Enterprise Technology Hub (ETH) </a> </td>
                <td>user: upsctsghpmps@ups.com pass: ctsghpmps</td>
            </tr>
            <tr>
                <td><a href="https://gnsncs.inside.ups.com/common/gnslogin_original.cgi?d=/ndc/switches/poe-management.cgi?" target="_blank">POE Management </a> </td>
                <td><a href="https://upsprod.service-now.com/nav_to.do?uri=%2Fu_cmdb_ci_appl_avs_list.do%3Fsysparm_userpref_module%3D38c42f801b3ffbc03b07206ebd4bcb12%26sysparm_clear_stack%3Dtrue" target="_blank">AVS </a> </td>
                <td><a href="https://10.251.1.11/common/gnslogin_original.cgi?d=/mist/mist_multiple_site_verify.cgi" target="_blank">GNS Site Verification for MIST </a> </td>
                <td><a href="https://upsprod.service-now.com/sp?id=kb_article&sys_id=7ea9e0cbdb5d3c90a84a7e83e2961990&table=kb_knowledge" target="_blank">Cosmic issue </a> </td>
            </tr>
            <tr>
                <td><a href="https://gsdp.ups.com/GSDP/" target="_blank">Global Software Deployment Portal (GSDP) </a> </td>
                <td><a href="https://xmen.ups.com/app?service=home" target="_blank">Proteus </a> </td>
                <td><a href="https://ears.inside.ups.com/" target="_blank">Enterprise Access Reporting (EARS) </a> </td>
                <td><a href="https://gnsncs.inside.ups.com/common/gnslogin_original.cgi?d=/ndc/switches/hp3500yl-unused.cgi" target="_blank">Aruba Edge Switch Unused Ports </a> </td>
            </tr>
            <tr>
                <td><a href="https://upsinc.sharepoint.com/sites/GTSG/SitePages/Other-TSG-Links.aspx" target="_blank">Other TSG Links </a> </td>
                <td><a href="https://thor.inside.ups.com/Master/Welcome" target="_blank">THOR3 </a> </td>
                <td><a href="https://www.aelius.com/njh/subnet_sheet.html" target="_blank">Subnet Mask Cheat Sheet </a> </td>
                <td><a href="https://upsprod.service-now.com/sp?id=sc_cat_item&sys_id=e3462c59db6c8490461cd0b2ca961963" target="_blank">IP Address Request </a> </td>
            </tr>
            <tr>
                <td><a href="https://upsprod.service-now.com/sp?id=sc_cat_item&sys_id=6609be49db6f3b80461cd0b2ca96199e" target="_blank">SWAT Consult Request </a> </td>
                <td><a href="https://gnsncs.inside.ups.com/common/gnslogin_original.cgi?d=/ndc/switches/hp3500yl-unused.cgi" target="_blank">Unused switch ports </a> </td>
                <td><a href="https://upsprod.service-now.com/sp?id=sc_cat_item&sys_id=1e1909ac1b1fec1c9a1eedf0604bcb07" target="_blank">Lost or Stolen Device Form </a> </td> 
                <td><a href="https://upsprod.service-now.com/sp?id=sc_cat_item&sys_id=38d81f361bd3bf003b07206ebd4bcb96" target="_blank">GNS WLAN Request </a> </td>
            </tr>
            <tr>
                <td><a href="https://socs.inside.ups.com/" target="_blank">SOCS </a> </td> 
                <td><a href="" target="_blank"> </a> </td>
                <td><a href="" target="_blank"> </a> </td>
                <td>Used for adding new wireless devices to network NOT Break fix issue</td>
            </tr>
        </table>

    </section>

</div>