<div class="content">
    <section>
        <h1>Important Links</h1>
        <table>
            <tr>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>High Tech</td>
            </tr>

            <tr>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>High Tech</td>
            </tr>
        </table>
        <hr/>
        <table>
            <tr>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>High Tech</td>
            </tr>

            <tr>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>High Tech</td>
            </tr>
        </table>
        <hr/>
        <table>
            <tr>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>High Tech</td>
            </tr>

            <tr>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>High Tech</td>
            </tr>
        </table>

    </section>

</div>