*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
.content{
    background-color:rgb(243, 232, 212);
}

/* CONTENT */
.content{
    width: 100%;
    height: 422px;
}

section{
    width: 60%;
    float: left;
    margin-left: 40px;
    margin-top: 5px;
}

article, aside{
    margin-top: 20px;
}

article p{
    margin-top: 10px;
    text-align: justify;
}

aside{
    width: 30%;
    margin-left: 50px;
    float: left;
}

.search{
    margin-right: 20px;
}
aside form{
    margin-top: 20px;
}

.image-right{
    width: 100%;
    margin-top: 20px;
}


.carousel, .carousel-item, .d-block{
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.carousel{
    margin: 6px 0 0 20px;
    border-radius: 5px;
}

.tsg, .lou{
    text-align: center;
}

.lou{
    font-weight: bold;
}

.image-right{
    margin-top: 50px;
    border-radius: 90px 0 90px 0;
}