<div class="content">
    <section>
        <h1>Buildings Information</h1>
        <table>
            <tr class="theader">
                <th>Known As</th>
                <th>Building</th>
                <th>Primary tech</th>
                <th>Building type</th>
                <th>Billing code</th>
                <th>Deliver door dock</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip code</th>
            </tr>

            <tr>
                <td>KYLOL</td>
                <td> 1</td>
                <td>Charles Goodman</td>
                <td>Retail</td>
                <td>549766</td>
                <td>003-005</td>
                <td>2200 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYLLL</td>
                <td> 2</td>
                <td>Chelsea DeGrella </td>
                <td>Healthcare</td>
                <td>300F16</td>
                <td>106</td>
                <td>2210 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYLOE</td>
                <td> 3</td>
                <td>Harold Rountree</td>
                <td>Retail</td>
                <td>550213</td>
                <td>205</td>
                <td>2220 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>

            </tr>

            <tr>
                <td>KYVIL </td>
                <td> 4</td>
                <td>Charles Goodman</td>
                <td>High Tech</td>
                <td>550535 HP / 550564 Multi-Client</td>
                <td>455</td>
                <td>2230 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYLSE</td>
                <td> 5</td>
                <td>Layoman Dunn</td>
                <td>High Tech</td>
                <td>540682</td>
                <td>505</td>
                <td>2240 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYLSV </td>
                <td> 6</td>
                <td>Harold Rountree </td>
                <td>Retail</td>
                <td>540633</td>
                <td>703</td>
                <td>2250 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYLUV </td>
                <td> 7</td>
                <td>Harold Rountree </td>
                <td>Healthcare</td>
                <td>508932</td>
                <td></td>
                <td>2250 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYOUT </td>
                <td> 1840</td>
                <td>Layoman Dunn </td>
                <td>Healthcare</td>
                <td>549953</td>
                <td></td>
                <td>1840 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYOLP</td>
                <td> 1860</td>
                <td>Gerard Keller</td>
                <td>High Tech</td>
                <td>550252</td>
                <td>493</td>
                <td>1860 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYVLE</td>
                <td> 1860 </td>
                <td>Harold Rountree </td>
                <td>Healthcare</td>
                <td>2327550250</td>
                <td>409</td>
                <td>1860 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYVLL </td>
                <td> 1920</td>
                <td>Kenny Knight</td>
                <td>Healthcare</td>
                <td>557878</td>
                <td>107 'ATT: TSG' in heading</td>
                <td>1920 Outer loop </td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40219</td>
            </tr>

            <tr>
                <td>KYNTP</td>
                <td> 7830 </td>
                <td>Zack Miller</td>
                <td>Healthcare</td>
                <td></td>
                <td></td>
                <td>7830 National Turnpike</td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40214</td>
            </tr>

            <tr>
                <td>KYNCR</td>
                <td>6204</td>
                <td>Zack Miller</td>
                <td>High Tech</td>
                <td>300C31</td>
                <td></td>
                <td>6204 New Cut Road</td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40118</td>
            </tr>

            <tr>
                <td>KYDAL</td>
                <td>KYNCR2</td>
                <td>Zack Miller</td>
                <td>High Tech</td>
                <td></td>
                <td></td>
                <td>6204 New Cut Road</td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40118</td>
            </tr>

            <tr>
                <td>KYGR4</td>
                <td>6700 </td>
                <td>Zack Miller</td>
                <td>High Tech</td>
                <td>900G01</td>
                <td></td>
                <td>6700 Grade Lane</td>
                <td>Louisville</td>
                <td>Kentucky</td>
                <td>40213</td>
            </tr>
        </table>

    </section>

</div>