<div class="content">
    <section>
        <article>
            <h1 class="pclc1">PCLC 1. Confirm receipt of hardware</h1>
            <p>- TSG to acknowledge receipt of all PCLC PC hardware and peripherals.</p>
            <p>- Keep accurate QTY received notes in task until 100%</p>
            <p>- DPC must be provided with accurate HW counts. </p>
            <p>- Review with supervisor before closing task. </p>
            <p>- Do not close task until ALL equipment has been received. </p>
        </article>
        <article>
            <h1 class="pclc3">PCLC 3. Decommission</h1>
            <p>- Handover of new device to the user and removal of old PC. </p>
            <p>- Disk Wipe PC prior to E- recycling. </p>
            <p>- E-Recycle (SOCS) PC.</p>
            <p>- Update cost code information in EARS (REQUIRED - DO NOT CLOSE TASK UNTIL COST CODE VERIFIED AND ENTERED INTO EARS!)</p>
            <p>- Decommission PCLC target from Active Directory.</p>
        </article>
    </section>

    <aside>
        
        <article>
            <h1 class="pclc2">PCLC 2. Provisioning / Migration</h1>
            <p>- Build device based on target information.</p>   
            <p>Use EARS to identify workstation, APP ID, location, and user/owner of target on Box/Label.            </p>
            <p>- Contact user, verify any additional equipment needs, and schedule migration. </p>
            <p>- Migrate user data. Ensure disk encryption is 100% before handing over to user. </p>
            <p>- Once Task 2 is closed complete, tech to complete Cost Code Questionnaire.</p>
        </article>
        <article>
            <h1 class="pclc4">PCLC 4. PCLC Installation Photos</h1>
            <p>- TSG to take photos of final Desktop PC placement</p>
            <p>-  Photo detail to contain Straight on, Above, & Bottom (Below desk) views. </p>
            <p>- Attach photos (Paper clip) within SMC WOT. </p>
            <p>- Photos of laptops / remote desktop setups not required (update note & close task).</p>
        </article>
    </aside>
    
</div>
