<div class="content">
    <section>
        <article>
            <h1 class="update-title">Update notes template</h1>
            <p>Current Status: </p>
            <p>Next Action Steps: </p>   
            <p>Date of Action Steps: </p>
            <p>Additional Information: </p>
        </article>
        <article>
            <h1 class="resolution-title">Resolution notes template</h1>
            <p>What was done:</p>
            <p>Root cause:</p>
            <p>Reviewed resolution with the customer?</p>
            <p>Confirmed with customer problem resolved?</p>
        </article>
    </section>

    <aside>
        
        <h2> <a href="https://upsprod.service-now.com/" target="_blank">SMC</a> Priority WO Matrix: SLA – Priorities</h2>
        
        <table class="priority">
            <tr height="35">
                <th class="begin-row" >Impact</th>
                <th >Urgency</th>
                <th >Priority</th>
                <th class="left">Example</th>
                <th class="end-row">SLA</th>

            </tr>
            <tr>
                <td class="center">High</td>
                <td class="center">High</td>
                <td class="center">P1</td>
                <td class="left">Data center infrast. failure or ASX down in CACH</td>
                <td class="center">3 Hours</td>
            </tr>
            <tr>
                <td class="center">Med</td>
                <td class="center">High</td>
                <td class="center">P2</td>
                <td class="left">Unable to print SPA labels in Hub</td>
                <td class="center">8 Hours</td>
            </tr>
            <tr>
                <td class="center">High</td>
                <td class="center">Med</td>
                <td class="center">P2</td>
                <td class="left">SHaRP connectivity issues</td>
                <td class="center">8 Hours</td>
            </tr>

            <tr>
                <td class="center">Med</td>
                <td class="center">Med</td>
                <td class="center">P3</td>
                <td class="left">Intermittent HFCS latency</td>
                <td class="center">24 Hours</td>
            </tr>
            <tr>
                <td class="center">High</td>
                <td class="center">Low</td>
                <td class="center">P3</td>
                <td class="left">Payroll job failure</td>
                <td class="center">24 Hours</td>
            </tr>
            <tr>
                <td class="center">Low</td>
                <td class="center">High</td>
                <td class="center">P3</td>
                <td class="left">Individual laptop failure</td>
                <td class="center">24 Hours</td>
            </tr>
           
            <tr>
                <td class="center">Low</td>
                <td class="center">Med</td>
                <td class="center">P4</td>
                <td class="left">Unable to make calls from a single line</td>
                <td class="center">72 Hours</td>
            </tr>
            <tr>
                <td class="center">Med</td>
                <td class="center">Low</td>
                <td class="center">P4</td>
                <td class="left">Unable to access guest WiFi in Windward</td>
                <td class="center">72 Hours</td>
            </tr>

            <tr>
                <td class="center">Low</td>
                <td class="center">Low</td>
                <td class="center">P5</td>
                <td class="left">Unable to access guest WiFi in Windward</td>
                <td class="center">7 Days</td>
            </tr>

        </table>

        <h4 class="smc-link">Want to access SMC site? <a href="https://upsprod.service-now.com/" target="_blank"> clic here</a></h4>
        
    </aside>
    
</div>
